#games {
    display: flex;
    align-items: start;
}

#games-container {
    padding-left: 4.5em;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    display: block;
    cursor: pointer;
}

span {
    color: #ede6e6;
    display: block;
    font-weight: 300;
}

.game__item {
    display: inline-block;
    border-radius: 1em;
    padding: 10px;
    margin: 5px;
}

.game__item img {
    width: 8em;
    height: 8em;
    border-radius: 0.8em;

    filter: drop-shadow(2px 3px 5px #0000003c);
}

.game__icon {
    display: inline-block;
    width: 10em;
    height: 10em;
    background-color: #0d0d0d;
    padding: 10px;
    margin: 5px;

    background-image: linear-gradient(
        45deg,
        rgba(22, 28, 33, 1) 0%,
        rgba(12, 13, 14, 1) 100%
    );
    border-radius: 1em;

    border: 3px solid #fffefe99;
}

.game__icon img {
    width: 10em;
    height: 10em;
    border-radius: 0.4em;
}

.vl {
    display: inline-block;
    border-left: 1.5px solid #433f3f;
    height: 1em;
    margin: 0 0.5em;
}

#favGame-container {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.console {
    color: #cfc9c9;
}

.icon {
    padding-left: 0.5em;
}

.launch-button {
    display: inline-block;
    margin-top: 0.5em;
    background-color: #0071E3;
    border: none;
    border-radius: 2em;
    padding: 0.4em 1em;

    font-size: 14px;
    font-weight: 400;
}

.launch-button:hover {
    cursor: pointer;
    background-color: #0062cc;
    color: #ffffff;
    transition: 0.25s;
}

.launch-button.disabled {
    pointer-events: none;
    cursor: not-allowed;
    border: none;
    border-radius: 2em;
    padding: 0.4em 1em;
    font-size: 14px;
    font-weight: 400;
}


.steam-disabled {
    text-align: center;

    color: #ffffff;
    font-size: 6px;
    background-color: #df4848;
    padding: 0.6em 0.7em;
    border-radius: 2em;
    margin-top: 1.3em;
}