h1 {
    font-size: 3em;
    padding: 0;
    margin: 0;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

#product-container {
    padding-left: 4.5em;
    margin-top: 20em;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1em;
}

.view-button {
    background-color: #17181F;
    border: none;
    border-radius: 2em;
    padding: 0.6em 3em; 
}

.view-button a {
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 500;
}

.elipsis-button {
    background-color: #17181F;
    color: #ffffff;
    border: none;
    border-radius: 100%;

    width: 2.6em;
    height: 2.6em;
}

/* modal */
body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(05,05,05,0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #1e1e1e;
    padding: 14px 28px;
    border-radius: 0.8em;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.close-modal:hover {
    cursor: pointer;
}

.modal-title {
  margin: 0;
  padding: 0;
}

.modal-paragraph {
  margin: 0;
  padding-top: 0.25em;
}