h1 {
    font-size: 6em;
    padding: 0;
    margin: 0;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

#product-container {
    padding-left: 4.5em;
    margin-top: 40em;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1em;
}

.view-button {
    font-size: 1.2em;
    background-color: #17181f;
    border: none;
    border-radius: 2em;
    padding: 0.6em 3em;
}

.view-button a {
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 500;
}

.elipsis-button {
    background-color: #17181f;
    color: #ffffff;
    border: none;
    border-radius: 100%;

    width: 3.8em;
    height: 3.8em;
}